.card
{
  border: 1px solid rgba(19, 19, 19, 0.233);
  border-radius: 10px ;
  box-shadow: 5px 5px 1px black;
  padding: 20px;
  margin: 10px;
  text-align: center;
  display: inline-block;
  max-width: 250px;
  font-family: Arial, Helvetica, sans-serif;

}

.card .card-picture
{
  max-width: 80%;
  height: auto;
  margin-bottom: 10px;
  border-radius: 10px;
}
.card .card-h2
{
  
  margin: 0;
  color: black;
}

.card card-font
{

color: gray;
}

.buttonexternal
{
  color: white;
  background-color: hsl(200,100%,50%);
  border-radius: 5px;
  padding: 10px 20px;
  border: none;
}

.studentprops
{
border: 1px solid black;
padding: 10px;
font-size: 2em;
font-family: Arial, Helvetica, sans-serif;
min-width: 200px;
display: inline-block;
}

.studentprops p
{
  margin: 0;
}

.login-message
{
  background-color: green;
  color: black;
  border-radius: 5px;
  padding: 10px;
  margin: 10 px;
  max-width: 300px;
  font-size: 2.5em;
}
.ListCategory
{
  background-color: green;
  color: black;
  border-radius: 5px;
  padding: 10px;
  margin: 10 px;
  max-width: 300px;
  /* font-size: 2.5em; */
}

.ListCategory ul
{
  background-color: hsl(200,100%,50%);
  color: hsla(180, 5%, 4%, 0.964);
    
  border-radius: 5px;
  /* font-size: 2.5em; */
}

.ListCategory ul li:hover
{
  color: hsla(180, 5%, 4%, 0.549);
  cursor: pointer;
  /* font-size: 2.5em; */
}

.State-hook
{
  margin: 0px;
  border: 5px;
  

}
.State-hook-number
{
    margin: 0px;
  font-size: 10em ;
  align-content: center;
}

.State-hook-button
{
  font-size: 2em;
  margin: 5px;
  border-radius: 5px;
  background-color: hsla(238, 100%, 50%, 0.892);
  color: hsl(180, 2%, 9%);
}

.State-hook-button:hover
{
  
  color: hsla(180, 2%, 9%, 0.485);
  cursor: pointer;
}
