.card
{
  border: 1px solid rgba(19, 19, 19, 0.233);
  border-radius: 10px ;
  box-shadow: 5px 5px 1px black;
  padding: 20px;
  margin: 10px;
  text-align: center;
  display: inline-block;
  max-width: 250px;
  font-family: Arial, Helvetica, sans-serif;

}

.card .card-picture
{
  max-width: 80%;
  height: auto;
  margin-bottom: 10px;
  border-radius: 10px;
}
.card .card-h2
{
  
  margin: 0;
  color: black;
}

.card card-font
{

color: gray;
}

.buttonexternal
{
  color: white;
  background-color: hsl(200,100%,50%);
  border-radius: 5px;
  padding: 10px 20px;
  border: none;
}